.offer {
  min-height: 400px;
  background-color: #fff;
  color: $bgColor;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 150%;
  background: url("../images/offerbg.jpg");
  &__heading {
    color: $logoColor;
  }
}
