@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,500&display=swap");

$mainFont: "Montserrat", sans-serif;
$logoColor: #901296;
$bgColor: #080c0d;

body {
  font-family: $mainFont;
  background: $bgColor;
  color: white;
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}
